<div class="content">

    <div *ngIf="!isLoggedIn" class="signin">
    <!--<div class="signin">-->

        <form [formGroup]="form_login" (ngSubmit)="signin()">

            <div class="username">
                <label for="username">Utilisateur</label>
                <input formControlName="user" type="text" id="username" required>
                <div *ngIf="form_login.get('user')?.dirty &&  form_login.get('user')?.errors?.['required']" class="error">
                    <p>Champ requis</p>
                </div>
                <div *ngIf="(form_login.get('user')?.dirty && form_login.get('user')?.value == '') || form_login.get('user')?.errors?.['minlength']" class="error">
                    <p>Minimum 4 caractères</p>
                </div>
                <div *ngIf="form_login.get('user')?.errors?.['maxlength']" class="error">
                    <p>Maximum 16 caractères</p>
                </div>
                <div *ngIf="form_login.get('user')?.errors?.['blankChars']" class="error">
                    <p>Ne peut pas contenir d'espace</p>
                </div>
                <div *ngIf="form_login.get('user')?.errors?.['specialChars']" class="error">
                    <p>Ne peut pas contenir de caractères spéciaux</p>
                </div>
            </div>

            <div class="password">
                <label for="password">Mot de passe</label>
                <input formControlName="password" type="password" id="password" required>
                <div *ngIf="form_login.get('password')?.errors" class="error">
                    <p>Champ requis</p>
                </div>
            </div>

            <button type="submit" class="submit" [class.disabled]="!form_login.valid" [disabled]="!form_login.valid">
                Se connecter
            </button>

            <div [style.visibility]="login_failed? 'visible' : 'hidden'" class="error">
                <p>L'utilisateur ou le mot de passe est incorrect</p>
            </div>

        </form>

    </div>

    <div *ngIf="isLoggedIn">
        <p>Vous êtes déjà connecté!</p>
    </div>

</div>