.single-product {
    display: flex;
    flex-direction: column;
    width: 20vw;
    box-shadow: 0 0 15px #0000001c;
    transition: box-shadow ease .4s;
}
.single-product:hover {
    box-shadow: 0 0 15px #0000004c;
}

.single-product > .thumbnail {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    margin-bottom: .7vw;
}

.single-product > .name {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 3.4vw;
    font-size: 1.15vw;
    color: #ff9312;
    text-align: center;
    margin-bottom: .7vw;
}

.single-product > .description {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    overflow-y: auto;
    font-size: 1vw;
    margin-bottom: .7vw;
}

.single-product > .unit-price {
    font-size: 1.7vw;
    color: #9d9d9d;
    text-align: center;
    margin-top: auto;
    margin-bottom: 1.2vw;
}

.single-product > .add-to-cart {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: .8vw;
    border: 1px solid #cacaca;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.3vw;
    justify-self: flex-end;
    margin-bottom: 10%;
    transition: color ease .4s, background-color ease .4s;
}
.single-product > .add-to-cart:hover {
    color: white;
    background-color: #ff9312;
}