form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    border-bottom: 2px dashed gray;
    padding-bottom: 3vh;
    margin-bottom: 6vh;
}

label {
    font-size: 1.8vw;
    font-weight: 400;
    font-style: italic;
    color: #ff9312;
    white-space: nowrap;
    margin-right: 1%;
}

input {
    color: #ff9312;
    font-size: 1.3vw;
    font-weight: 400;
    border: 2px solid #ff9312;
    border-radius: 20px;
    padding: .5% 2%;
}
input:focus-visible {
    outline: none;
}